    body {
      margin: 0px;
      line-height: 1.15;
      font-family: 'Noto Serif', serif;
      font-weight: normal;
      font-size: 14px;
    } 

    .nav {
        margin: 10px 20px;
        padding: 10px 20px;
    }

    a   {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
