    header > img {
        width: 100%;
    }
    
    ul.navigation li a {
    padding: 8px 12px;
    display: flex;
    list-style: none;
    text-decoration: none;
    color: #000000;
    }

    ul.navigation li a.active {
        color: red;
    }

    ul.navigation li a:hover {
        color: red;
    }

    nav.nav {
        margin: 8px 12px;
        padding: 8px 12px;
        position: fixed;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 16);
        background-color: white;
        width: 100%;
    }

    a   {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #a {
        font-size: large;
    }

        body {
          margin: 0px;
          line-height: 1.15;
          font-family: 'Noto Serif', serif;
          font-weight: normal;
          font-size: 14px;
        } 